<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item active">
        <!-- <a class="nav-link" ><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a> -->
        <a class="nav-link" ><i class="icon-speedometer"></i> Dashboard</a>
      </li>

      <!-- <li class="divider"></li>
     
      <li class="nav-item">
        <a class="nav-link" ><i class="icon-pie-chart"></i> Charts</a>
      </li> -->
      <li class="divider"></li>

    </ul>
  </nav>
</div>