<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav" style="cursor: pointer;">
      <li class="nav-item active" routerLink="/">
        <!-- <a class="nav-link" ><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a> -->
        <a class="nav-link" ><i class="icon-home"></i> Home</a>
      </li>

      <li class="divider"></li>
     
      <li class="nav-item" style="background-color: #00adffed">
        <a class="nav-link" ><i class="icon-speedometer"></i> Dashboard</a>
      </li>
      <li class="divider"></li>

    </ul>
  </nav>
</div>